{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {{ game }}
{% endblock title %}

{% block styling %}
    {{ block.super }}
    <style type="text/css">
        .tictactoe-table {
            width: 300px;
            border-width: 2px;
        }

        .tictactoe-cell {
            background-color: #deb827;
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle !important;
            font-size: 60px;
        }

        .empty-cell a {
            display: block;
            width: 100%;
            height: 100%;
            color: gray;
            text-decoration: none;
        }
    </style>
{% endblock styling %}

{% block content %}
<div class="col-md-5">
    {% if game.status == 'F' %}
        <strong>{{ game.first_player }}</strong> to play
    {% elif game.status == 'S' %}
        <strong>{{ game.second_player }}</strong> to play
    {% elif game.status == 'W' %}
        <strong>{{ game.first_player }}</strong> won! 🎉
    {% elif game.status == 'L' %}
        <strong>{{ game.second_player }}</strong> won! 🎉
    {% elif game.status == 'D' %}
        <strong>It's a draw!</strong> 🤝
    {% endif %}
</div>

<div class="col-md-5">
    <table class="table table-bordered tictactoe-table">
        {% for row in board %}
        <tr>
            {% for cell in row %}
            <td class="tictactoe-cell">
                {% if cell == "X" %}
                    X
                {% elif cell == "O" %}
                    O
                {% else %}
                    {% if form %}
                        <a href="{% url 'gameplay_make_move' game.id %}?x={{ forloop.counter0 }}&y={{ forloop.parentloop.counter0 }}" class="empty-cell">
                            Click
                        </a>
                    {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% if form %}
<div class="col-md-4">
    <h3>It's your move</h3>
    <form method="post" action="{% url 'gameplay_make_move' game.id %}">
        {{ form | crispy }}
        {% csrf_token %}
        <button type="submit">Make move</button>
    </form>
</div>
{% endif %}

{% endblock content %}
